body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: #ccc;
}

* {
    box-sizing: border-box;
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-top-style: inset;
    border-top-width: 1px;
    border-color: white;
}
canvas {
    cursor: pointer;
    position: fixed;
}

canvas:active {
    cursor: crosshair;
}

#title-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;      
    z-index: 1;
}

#titlescreen {
    font-size: 50px;
    text-align: center;
    z-index: 1;
    letter-spacing: -0.05em;
    line-height: 0.8;
    cursor: pointer;
    text-transform: uppercase;
    pointer-events: all;
    transition: color 0.5s; 
    color: #999;      

}

#loading {
    font-size: 25px;
    padding-top: 20px;
}

em {
    font-family: serif;
    font-size: 1.08em;
    font-style: normal;
}

#titlescreen:hover{
    color: #666;
}

.loaded{
    color: black!important;
}

#timer {
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 5px;
    font-size: 50px;
    z-index: 1;
}

#runner {
    z-index: -1;
    position: fixed;
    width: 100vw;
    top: 5px;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    display: none;
    color: red;
}

#counter {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 50px;
    z-index: 1;
    /* display: none; */
}

#arrow {
    display: none;
}

#moreinfo-btn {
    position: fixed;
    z-index: 2;
    right: 15px;
    bottom: 5px;
    font-size: 50px;
}

.btn {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}
.btn:hover {
    color: #666
}

#moreinfo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50vw;
    min-width: 380px;
    max-height: calc(100vh - 20px);
    padding: 10px;
    background-color: #ccc;
    line-height: 1.2;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: none;
    overflow: auto;
    z-index: 1;
}


@media (max-width: 400px){
    #timer {
        bottom: unset;
        top: 5px;
    }

    #moreinfo {
        right: 0;
        bottom: 0;
        width: 100vw;
    }
}