body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

* {
    box-sizing: border-box;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-content: space-evenly;
    margin: 0 0 0 0.5px;
    pointer-events: none;
}

#title-container {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #cccccc;
    color: black;

}

#titlescreen {
    font-size: 12vw;
    text-align: center;
    z-index: 1;
    letter-spacing: -0.05em;
    line-height: 0.8;
    cursor: pointer;
    text-transform: uppercase;
    pointer-events: all;

    
}

em {
    font-family: serif;
    font-size: 1.08em;
    font-style: normal;

}

#titlescreen:hover{
    color: #666;
}

#counter {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 50px;
    z-index: 1;
}

.title-clicked {
    z-index: -1!important;
    color: #bbb!important;
}

#moreinfo-btn {
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 5px;
    font-size: 50px;
    cursor: pointer;
}

#moreinfo-btn:hover {
    color: #666
}

#moreinfo {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 50vw;
    min-width: 380px;
    max-height: 98vh;
    padding: 10px;
    background-color: #ccc;
    line-height: 1.2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: none;
    overflow: auto;
}

.active {
    background-color: yellow;
    color: cornflowerblue;
}